<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>AI Survey</title>
    
    <link type="text/css" rel="stylesheet" href="style.css" />
    
  </head>
<body>
  
  <header>
    <h1>
    <span id="logo">
      A.I.
    </span>
    Survey
    </h1>
    <p>
      Hi, my name is <a href="https://zachkrall.online">Zach</a> and I am a graduate student at
      Parsons School of Design in New York City. I would
      like to know how often you think about the collection
      of your information by systems that
      employ <u>Artificial Intelligence</u>.
    </p>
    <p>
      The results from this survey will be used as part of a 
      data visualization created in
      <a href="https://courses.newschool.edu/courses/PSAM5600/4268/" target="_blank" rel="noopener">Data Futures</a>,
      taught by <a href="http://danielgoddemeyer.com/" rel="noopener" target="_blank">Daniel Goddemeyer</a>.
    </p>
  </header>

  <main>
  
    <form action="submit" method="POST">
      
      <div class="form-section">
      <h2>
        What is your age?
      </h2>
      <div class="radio-options">
        
        <input type="radio" name="age" value="18-25" id="age1">
        <label for="age1">18-25</label>
        
        <input type="radio" name="age" value="26-35" id="age2">
        <label for="age2">26-35</label>
        
        <input type="radio" name="age" value="35-45" id="age3">
        <label for="age3">36-45</label>
        
        <input type="radio" name="age" value="46" id="age4">
        <label for="age4">46+</label>
        
      </div>
      </div>
      
      <div class="form-section">
      <h2>
        Do you work in tech?
      </h2>
      <div class="radio-options">
        
        <input type="radio" name="tech" value="Yes" id="techYes">
        <label for="techYes">Yes</label>
        
        <input type="radio" name="tech" value="No" id="techNo">
        <label for="techNo">No</label>
        
      </div>
      </div>
      
      <div class="form-section">
      <h2>
        How often do you believe A.I. is collecting your actions?
      </h2>
      <div class="radio-options">
        
        <input type="radio" name="surveillance" value="1" id="surveillance1">
        <label for="surveillance1">Never</label>
        
        <input type="radio" name="surveillance" value="2" id="surveillance2">
        <label for="surveillance2">Rarely</label>
        
        <input type="radio" name="surveillance" value="3" id="surveillance3">
        <label for="surveillance3">Sometimes</label>
        
        <input type="radio" name="surveillance" value="4" id="surveillance4">
        <label for="surveillance4">Often</label>
        
        <input type="radio" name="surveillance" value="5" id="surveillance5">
        <label for="surveillance5">Always</label>
        
      </div>
      </div>
      
         <div class="form-section">
      <h2>
        Does this influence how you make decisions?
      </h2>
      <div class="radio-options">
        
        <input type="radio" name="selfcensor" value="Yes" id="selfcensor1">
        <label for="selfcensor1">Yes</label>
        
        <input type="radio" name="selfcensor" value="No" id="selfcensor2">
        <label for="selfcensor2">No</label>
        
      </div>
      </div>
      
      <div class="form-section">
        
      
        <div class="group-border">
          
          <input type="reset" value="Reset"/>
          <input type="submit" value="Share Responses"/>
          
        </div>
        
      </div>
      
    </form>
    
  </main>

</body>
</html>